AUTH_SECRET="gyFWE1LZU1JS27X28CWnlnuRL44HHae/Xd0k/Fei50I=" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}

AUTH_TRUST_HOST=http://localhost:3000


DATABASE_URL="mysql://username:password@srv1510.hstgr.io:3306/dbname"
